.table-head {
    position: sticky;
    top: 0;

    .text-center {
        text-align: center;
    }

    th {
        font-size: 14px;
        padding: 12px 8px;
        text-align: left;
        background-color: #fafafa;
        border-bottom: 1px solid #f0f0f0;
        position: relative;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            &__title {
                flex-grow: 1;
            }

            &__icons {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
    }
    th:not(:first-child)::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 1.6em;
        background-color: #f0f0f0;
        transform: translateY(-50%);
        // transition: background-color 0.2s;
        content: "";
    }
    .sorter-cell{
        transition: background-color 0.2s;
    }
    
    .sorter-cell:hover {
        cursor: pointer;
        background-color: #f0f0f0;
    }
    @media (max-width: 650px) {
        th {
            display: none;
        }
    }
}
