.item-view-row {
    td {
        padding: 12px 8px;
        border-bottom: 1px solid #f0f0f0;
        font-size: 14px;
    }
    .col-name {
        color: green;
    }
}
.item-view-row:hover {
    background-color: #fafafa;
}
@media (max-width: 650px) {
    .item-view-row {
        border-bottom: 1px solid #f0f0f0;

        td {
            display: grid;
            grid-template-columns: 15ch auto;
            gap: 0.5rem;
            border-bottom: unset;
        }
        td::before {
            content: attr(data-cell) ": ";
            font-weight: 600;
            text-transform: capitalize;
        }
    }
}
