.table-view {
    max-height: 600px;
    overflow: auto;
    position: relative;
    background-color: blueviolet;

    table {
        width: 100%;
        background: white;
        color: black;
        border-collapse: collapse;
    }
    caption {
        position: sticky;
        top: 0;
        padding: 1rem;
        text-align: left;
        text-transform: uppercase;
    }

    .blank_row {
        height: 140px;
        text-align: center;
        color: gray;
        border-bottom: 1px solid #f0f0f0;
    }
    
    .table-foot {
        position: sticky;
        bottom: 0;
        background: #fafafa;
        font-size: 14px;
        color: gray;
        font-weight: 500;
        
        td {
            padding: 12px 8px;
        }
    
        .right {
            text-align: right;
        }
    }

    @media (max-width: 650px) {
        .table-foot {
            display: none;
        }
    }
}


